<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>主页</title>
<!-- Bootstrap核心CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap的js -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- echarts的js -->
<script type="text/javascript" src="/js/echarts.js"></script>
</head>
<body>
	<!-- 标题 -->
	<div th:include="fragment/index_fragment::index_header"></div>
	<!-- 内容 -->
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-7">
			<!-- 目录 -->
			<ul class="nav">
				<li th:each="category:${categoryList}" class="nav-item"><button
						type="button" class="nav-link btn btn-primary"
						th:onclick="'updatePage_div('+${category.id}+')'"
						th:text="${category.name}"></button></li>
			</ul>
			<!-- 文章与分页 -->
			<div id="page_div"></div>
		</div>
		<div class="col-lg-3">
			<!-- 个人信息 -->
			<div th:if="${session.user}==null">
				<div class="btn-group" role="group">
					<a href="/login_register">
						<button type="button" class="btn btn-primary">登录/注册</button>
					</a>
				</div>
			</div>
			<div th:if="${session.user}!=null">
				<ul class="list-group">
					<li class="list-group-item"><img class="img-thumbnail"
						th:src="'/image/'+${session.user.image}" width="200px"
						height="200px" /></li>
					<li class="list-group-item"><a
						th:href="'/users/'+${session.user.id}"
						th:text="${session.user.nickname}"></a></li>
					<li class="list-group-item"><a href="/authentication/logout"><button
								type="button" class="btn btn-danger">退出</button></a></li>
					<li th:if="${session.user.role}=='admin'" class="list-group-item">
						<form action="/articles" method="post">
							<select class="form-control" name="category_id">
								<option th:each="category:${categoryList}"
									th:value="${category.id}" th:text="${category.name}"></option>
							</select> <input type="text" class="form-control" name="title"
								placeholder="标题">
							<textarea class="form-control" name="content" rows="10"
								placeholder="内容"></textarea>
							<button type="submit" class="form-control btn btn-info">发帖</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-1"></div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		var updatePage_div = function(category_id) {
			$("#page_div").load("/categorys/" + category_id + "/page");
		}
		updatePage_div([[${categoryList.get(0).id}]]);
	</script>
</body>
</html>
